<!DOCTYPE html>
<html ng-app="app">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        .ng-hide { display: none!important; }
    </style>

    <title ng-bind>{{ $state.current.data.title }}</title>
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <!--TODO: Select a font and apply it across the board in css -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>


    <!-- bower:css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/theme-colors/blue.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/footers/footer-v1.css">
    <link rel="stylesheet" href="assets/css/headers/header-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">

    <link rel="stylesheet" href="assets/plugins/fancybox/source/jquery.fancybox.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">

</head>
    <body class="header-fixed">
    <div class="wrapper">
        @RenderBody()
    </div>





    <!-- bower:js -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-mocks/angular-mocks.js"></script>
    <!-- endbower -->

        <!--TODO: Determine what part of this crap is necessary -->
    <script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.parallax.js"></script>
    <script type="text/javascript" src="assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/plugins/fancy-box.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            FancyBox.initFancybox();
        });
    </script>


    <!-- inject:js -->
    <script src="~/application/models/comment.model.js"></script>
    <script src="~/application/models/image.model.js"></script>
    <script src="~/application/models/post.model.js"></script>
    <script src="~/application/models/tag.model.js"></script>
    <script src="~/application/comments/comments.module.js"></script>
    <script src="~/application/contact/contact.module.js"></script>
    <script src="~/application/images/images.module.js"></script>
    <script src="~/application/posts/posts.module.js"></script>
    <script src="~/application/services/services.module.js"></script>
    <script src="~/application/sidebar/sidebar.module.js"></script>
    <script src="~/application/tags/tags.module.js"></script>
    <script src="~/application/tweets/tweets.module.js"></script>
    <script src="~/application/app.core.js"></script>
    <script src="~/application/app.js"></script>
    <script src="~/application/app.run.js"></script>
    <script src="~/application/app.config.js"></script>
    <script src="~/application/contact/contact.routes.js"></script>
    <script src="~/application/posts/post.routes.js"></script>
    <script src="~/application/contact/about.controller.js"></script>
    <script src="~/application/posts/post.controller.js"></script>
    <script src="~/application/tags/tags.controller.js"></script>
    <script src="~/application/tweets/tweets.controller.js"></script>
    <!-- endinject -->
</body>
</html>

