<div class="col-md-12">
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <div class="tag-box tag-box-v3 form-page">
        <form name="postForm" ng-submit="vm.savePost(postForm)" novalidate>


            <div class="row">
                <div class="form-group col-md-6" show-errors>
                    <h4>Title</h4>
                    <input type="text" id="standard-form" class="form-control" required name="title" ng-model="vm.post.title" placeholder="Title">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6" show-errors>
                    <h4>Date</h4>

                    <input type="text" required class="form-control" datepicker-popup="{{vm.datePicker.format}}" name="receivedDate" ng-model="vm.post.postedDate"
                    is-open="vm.datePicker.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions"
                    date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <button type="button" class="col-md-12 btn btn-primary" ng-click="vm.datePicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>

                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6" show-errors>
                    <h4>Tags</h4>
                    <input type="text" id="standard-form" class="form-control" required name="tagString" ng-model="vm.post.tagString">
                </div>
            </div>

            <!--Tag Box Placeholder -->
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-pane fade in active col-md-3">
                        <div class="alert alert-info fade in alert-dismissable" style="margin:0; padding:5px;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            Warning
                        </div>
                        <div class="alert alert-info fade in alert-dismissable" style="margin:0; padding:5px;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            Warning
                        </div>
                        <div class="alert alert-info fade in alert-dismissable" style="margin:0; padding:5px;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            Warning
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group" show-errors>
                <h4>Body</h4>
                <textarea class="form-control" id="standard-form" class="form-control" required name="body" ng-model="vm.post.body" rows="20"></textarea>
            </div>

            <div>
                <a class="btn btn-primary" ng-click="vm.submitPost()" style="width: 300px">
                    <i class="glyphicon glyphicon-chevron-right"></i> Submit New Post
                </a>
            </div>

        </form>
    </div>

    <!--<div class="tag-box tag-box-v3 form-page">
        <div class="headline">
            <h3>{{vm.post.title}}</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>{{vm.post.postedDate | date:'medium'}}</h5>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="tab-pane fade in active col-md-3">
                    <div class="alert alert-info fade in alert-dismissable" style="margin:0; padding:5px;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        Warning
                    </div>
                    <div class="alert alert-info fade in alert-dismissable" style="margin:0; padding:5px;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        Warning
                    </div>
                    <div class="alert alert-info fade in alert-dismissable" style="margin:0; padding:5px;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        Warning
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-9">
                <div ng-bind-html="vm.post.body"></div>
            </div>
        </div>
    </div>-->

     <div class="row margin-bottom-20">
        <div class="news-v3">
            <div class="col-md-12">

                <h1>
                    <a href="#">{{vm.post.title}}</a>
                </h1>
                <ul class="list-inline posted-info">
                    <li><i class="fa fa-calendar"></i> {{vm.post.postedDate | date:"MMMM dd, yyyy"}}</li>
                    <li><i class="fa fa-pencil"></i> Oleg Shalygin</li>
                    <li>
                        <i class="fa fa-cloud"> {{vm.post.views}} Views</i>
                    </li>
                    <li>
                        <i class="fa fa-comments"> {{vm.post.comments.length || 0}} Comments</i>
                    </li>
                </ul>

                <ul class="list-inline tags-v2">
                    <li ng-repeat="tag in vm.post.tags">
                        <a href="#">{{tag.name}}</a>
                    </li>
                </ul>

                <ul class="social-icons">
                    <li>
                        <a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a>
                    </li>
                    <li>
                        <a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a>
                    </li>
                    <li>
                        <a href="#" data-original-title="Google Plus" class="rounded-x social_googleplus"></a>
                    </li>
                    <li>
                        <a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a>
                    </li>
                </ul>

                <hr>

                <div ng-bind-html="vm.post.body"></div>

            </div>
            <br>
            <br>
        </div>
</div>