@{
    ViewData["Title"] = "Solution Pub";
}
{{ $state.current }}
<div class="header">

    <div class="topbar">
        <div class="container">
            <!-- Topbar Navigation -->
            <ul class="loginbar pull-right">
                <li>
                    <i class="fa fa-globe"></i>
                    <a>Region</a>
                    <ul class="lenguages">
                        <li class="active">
                            <a href="#">USA <i class="fa fa-check"></i></a>
                        </li>
                        <li><a href="#">UK</a></li>
                        <li><a href="#">Latin America</a></li>
                        <li><a href="#">Germany</a></li>
                    </ul>
                </li>
                <li class="topbar-devider"></li>
                <li><a href="/">Help</a></li>
                <li class="topbar-devider"></li>
                <li><a href="/">Register</a></li>
                <li class="topbar-devider"></li>
                <li><a href="/">Log In</a></li>

            </ul>
            <!-- End Topbar Navigation -->
        </div>
    </div>


    <!-- End Topbar -->
    <!-- Navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img id="logo-header" src="assets/img/logo.png" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li class="dropdown">
                        <a ui-sref="home">Home</a>

                    </li>
                    <!-- End Home -->
                    <!-- Features -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Laboratory
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);"><i class="fa fa-flask"></i>FSAE Sim</a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://www.fsaesim.com"><i class="fa fa-user"></i>Portal</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);"><i class="fa fa-flask"></i>Western Register</a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://www.westernregister.com"><i class="fa fa-user"></i>Portal</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a ui-sref="images">Images</a>

                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Contact
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="about"><i class="fa fa-beer"></i>About</a></li>
                            <li><a ui-sref="contact"><i class="fa fa-search"></i>Get In Touch</a></li>
                        </ul>

                    </li>

                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" name="searchTerm" id="searchTerm" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="submit">Go</button>
                                </span>

                            </div>

                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


<!--=== Blog Posts ===-->
<div class="container content-md">

    <div class="row">
        <!-- Blog All Posts -->
        <div class="col-md-9">
            <!-- News v3 -->
           
        </div>
        <!-- End Blog All Posts -->
        <!-- Blog Sidebar -->
        <div class="col-md-3">


            <div class="headline-v2 bg-color-light"><h2>Latest Tweets</h2></div>
            <!-- Latest Links -->
            <ul class="list-unstyled blog-latest-posts margin-bottom-50">
                <li>
                    <h3><a href="#">The point of using Lorem Ipsum</a></h3>
                    <small>19 Jan, 2015 / <a href="#">Hi-Tech,</a> <a href="#">Technology</a></small>
                    <p>Phasellus ullamcorper pellentesque ex. Cras venenatis elit orci, vitae dictum elit egestas a. Nunc nec auctor mauris, semper scelerisque nibh.</p>
                </li>
                <li>
                    <h3><a href="#">Many desktop publishing packages...</a></h3>
                    <small>23 Jan, 2015 / <a href="#">Art,</a> <a href="#">Lifestyles</a></small>
                    <p>Integer vehicula sed justo ac dapibus. In sodales nunc non varius accumsan.</p>
                </li>
            </ul>
            <!-- End Latest Links -->

            <div class="headline-v2 bg-color-light"><h2>Popular Tags</h2></div>
            <!-- Tags v2 -->
            <ul class="list-inline tags-v2 margin-bottom-50">
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">C#</a></li>
                <li><a href="#">.NET</a></li>
                <li><a href="#">AngularJS</a></li>
                <li><a href="#">Fundamentals</a></li>
            </ul>
            <!-- End Tags v2 -->

        </div>
        <!-- End Blog Sidebar -->
    </div>
</div>
<!--=== End Blog Posts ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <br />
                    <a href="/">
                        <img class="pull-left" id="logo-footer" src="assets/img/logo.png" alt="">
                    </a>
                    <br />
                    <br />
                    <p>&nbsp;&nbsp;  Learning by Doing</p>

                </div><!--/col-md-3-->
                <!-- End About -->
                <!-- Latest -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline"><h2>Recent Topics</h2></div>
                        <ul class="list-unstyled latest-list">
                            <li>Blog Post 1</li>
                        </ul>
                    </div>
                </div>


                <!-- Link List -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2>Useful Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="http://developer.mozilla.org">Mozilla Developer Network</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="http://blogs.msdn.com/b/csharpfaq/">C# MSDN Blog</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="http://blogs.msdn.com/b/visualstudio/">Visual Studio Blog</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="http://angularjs.org">AngularJS</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="http://nodejs.org">NodEJS</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>


                <!--/col-md-3-->
                <!-- End Link List -->
                <!-- Address -->
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline"><h2>Contact</h2></div>
                    <address class="md-margin-bottom-40">

                        California, US <br />
                        Phone: 818 350 3895 <br />
                        Email: <a href="mailto:info@TechieJS.com" class="">info@TechieJS.com</a>
                    </address>
                </div><!--/col-md-3-->

            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2015 &copy; All Rights Reserved. Solution Pub

                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="social-icons pull-right">
                        <li><a href="https://www.facebook.com/oshalygin/" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                        <li><a href="https://twitter.com/oshalygin/" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                        <li><a href="https://plus.google.com/+OlegShalygin/posts/" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                        <li><a href="https://www.linkedin.com/in/oshalygin" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
